/*
#181818
#2f2f2f
#474747
#5e5e5e
*/
@import 'variaveis';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
    background-color: #000000;
}

.navbar-topo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  margin-top: 0.5rem;
  width: 100vw;
  padding-inline: 8px;
 
}

 .ia-sidebar-topo{
  background-color: orange;
  border-radius: 60px;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  

} img{
  width: 16px;
  height: 16px;
}

.navbar-topo-links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
  text-decoration: none;
  background-color: rgb(34, 34, 34);
  width: 340px;
  border-radius: 60px;
  

}.links-navbar > .links{
  list-style: none;
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
  font-family: $fonte-principal;

  &:hover{
    font-weight: bold;
  }
} 

.links-navbar:nth-last-child(2){
  padding-right: 10px;
  &::after{
    content: '';
    position: absolute;
    top: 2.9%;
    transform: translateX(120%);
    width: 7px;
    height: 7px;
    background-color: rgb(148, 255, 7);
    border-radius: 50%;
  }
}

.navbar-topo-entrar{
  padding: 0px .5rem;
  width: 70px;
  border-radius: 60px;
  color: white;
  background-color: rgb(34, 34, 34);
  text-align: start;
  border: none;
  font-family: $fonte-principal;
  font-size: 0.75rem;

  &::after{
    content: '';
    position: absolute;
    top: 1.4%;
    
    width: 20px;
    height: 20px;
    background-image:url("https://img.freepik.com/free-photo/happy-cheerful-female-customer-posing-camera_74855-2837.jpg?t=st=1741304304~exp=1741307904~hmac=ca01ee3cf04f5dc198b602d3d7c2d8e5e9e25b9d46d2a706d0697bfac07e2908&w=1800");
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }

  &:hover{
    font-weight: bold;
  }
}

// seção do banner principal

/*.nav-banner-principal{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  padding-inline: 8px;
  align-items: center;
*/
  h1{
    
    color: white;
    font-size: 7rem;
    font-family: $fonte-principal;
    text-align: center;
    font-weight: normal;
    position: relative;
    z-index: -1;
  }

 .banner{  
    margin-top: -25px;
    margin-inline: auto;
    width: 98.5vw;
    background-image: url("https://cdn.leonardo.ai/users/ac05dbc4-0711-4c14-a6a9-e462c5bb5066/generations/d853426f-5015-4fa7-8f50-36a56c48b906/Default_1950_super_panavision_70_robot_similar_like_bender_fr_0.jpg");
    height: 56vh;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:  0px -1px 15px 15px rgb(0, 0, 0);
    z-index: 1;


    & > .prompt{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 400px;
      height: 40px;
      background-color: hsla(100%, 100%, 100%, 0.2);
      border-radius: 50px;
      color: white;
      font-family: $fonte-principal;
      filter: blur(1px);
      isolation: isolate;
      backdrop-filter: blur(2px);
      overflow: hidden;
      margin-bottom: 7rem;
    }


  }