/*
#181818
#2f2f2f
#474747
#5e5e5e
*/
@import 'variaveis';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
    background-color: #000000;
}

.navbar-topo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  margin-top: 0.5rem;
  width: 99vw;
  padding-inline: 8px;
 
}

 .ia-sidebar-topo{
  background-color: orange;
  border-radius: 60px;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  

} img{
  width: 16px;
  height: 16px;
}

.navbar-topo-links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
  text-decoration: none;
  background-color: rgb(34, 34, 34);
  width: 340px;
  border-radius: 60px;
  

}.links-navbar > .links{
  list-style: none;
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
  font-family: $fonte-principal;

  &:hover{
    font-weight: bold;
  }
} 

.links-navbar:nth-last-child(2){
  padding-right: 10px;
  &::after{
    content: '';
    position: absolute;
    top: 2.9%;
    transform: translateX(120%);
    width: 7px;
    height: 7px;
    background-color: rgb(148, 255, 7);
    border-radius: 50%;
  }
}

.navbar-topo-entrar{
  padding: 0px .5rem;
  width: 70px;
  border-radius: 60px;
  color: white;
  background-color: rgb(34, 34, 34);
  text-align: start;
  border: none;
  font-family: $fonte-principal;
  font-size: 0.75rem;

  &::after{
    content: '';
    position: absolute;
    top: 1.4%;
    
    width: 20px;
    height: 20px;
    background-image:url("https://img.freepik.com/free-photo/happy-cheerful-female-customer-posing-camera_74855-2837.jpg?t=st=1741304304~exp=1741307904~hmac=ca01ee3cf04f5dc198b602d3d7c2d8e5e9e25b9d46d2a706d0697bfac07e2908&w=1800");
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }

  &:hover{
    font-weight: bold;
  }
}

// seção do banner principal

/*.nav-banner-principal{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  padding-inline: 8px;
  align-items: center;
*/
  h1{
    
    color: white;
    font-size: 7rem;
    font-family: $fonte-principal;
    text-align: center;
    font-weight: normal;
    position: relative;
    z-index: -1;
  }

 .banner{  
    margin-top: -25px;
    margin-inline: auto;
    width: 97.5vw;
    background-image: url("https://cdn.leonardo.ai/users/ac05dbc4-0711-4c14-a6a9-e462c5bb5066/generations/d853426f-5015-4fa7-8f50-36a56c48b906/Default_1950_super_panavision_70_robot_similar_like_bender_fr_0.jpg");
    height: 56vh;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:  0px -1px 15px 15px rgb(0, 0, 0);
    z-index: 1;


    & > .prompt{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 400px;
      height: 40px;
      background-color: hsla(100%, 100%, 100%, 0.2);
      border-radius: 50px;
      color: white;
      font-family: $fonte-principal;
      filter: blur(1px);
      isolation: isolate;
      backdrop-filter: blur(2px);
      overflow: hidden;
      margin-bottom: 7rem;
    }


  }

  // menu de navegação do site
#menu-de-nav{
  display:flex;
  justify-self: center;
  align-items: center;
  // background-color:rgba(255, 255, 255, 0.51);
  width: 800px;
  height: 45px;
  border-radius:50px ;
  margin-top: -28px;
  

  & > .menu-de-nav-lista{
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-items:center ;
    align-items: center;
    list-style: none;
    margin-bottom: -1rem;
    

  } & .menu-de-nav-item{
    width: 130px;
    height: 40px;
    text-decoration: none;
    list-style: none;
    font-family: $fonte-principal;
    margin-right: 2px;

    & a{
      text-decoration: none;
      color: rgb(255, 255, 255);
      text-align: center;
    }

    ////////////////////////////////////////////////////////////////
    /// 
  } .menu-de-nav-item {
    background-color: rgba(0, 0, 0, 0.866);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;;
  }
} 



// seção de conteúdo 


/// primeiro conteiner de conteudo

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  width: 90vw;
  margin-inline: auto;

  & > .subtitulo {
    font-family: $fonte-principal; // Certifique-se de que essa variável está definida
    font-size: 34px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 3rem;
    font-weight: normal;
  }

  & > .content-1 { // Adicionei o ponto para indicar que é uma classe
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr  1fr;
    padding: 10px 0px 10px 0px;


    .item-paragrafo-content {
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $fonte-principal;
      color: rgb(255, 255, 255);
      font-weight: 300;
      text-align: justify;
      padding-right: 20px;
    }

    .item-content-img {
      display: flex;
      justify-self: end;
      border-radius: 30px;
      border: 2px solid rgba(255, 255, 255, 0.441);
      background-image: url("https://image.cdn2.seaart.me/temp-convert-webp/jpeg/static/c1444dc77e417ca12dbedfbd3e03c34c/1694108713730/39355ebf65c9ac95fca2aa08857012ca_low.webp");
      background-size: cover;
      width: 240px;
      height: 240px; // Adicionei para garantir que a imagem preencha o espaço
      
      margin-inline-end: 10px;
    }

    .item-content-img1 {
     
      margin-inline-end: 10px;
      display: flex;
      justify-self: end;
      border-radius: 30px;
      border: 2px solid rgba(255, 255, 255, 0.441);
      background-image: url("https://image.cdn2.seaart.me/2024-08-25/cr590gle878c73auvmrg/5291ad573b428352f06daa8dbfadd28c_high.webp");
      background-size: cover;
      width: 240px;
      height: 240px; // Adicionei para garantir que a imagem preencha o espaço
    }

    .item-content-img2 {
      margin-inline-end: 10px;
      display: flex;
      justify-self: end;
      border-radius: 30px;
      border: 2px solid rgba(255, 255, 255, 0.441);
      background-image: url("https://image.cdn2.seaart.me/2024-01-25/cmp5q2le878c73blim70/c659ab6483265b1fbb3e009a1aaf5412983cbd20_high.webp");
      background-size: cover;
      width: 240px;
      height: 240px; // Adicionei para garantir que a imagem preencha o espaço
    }
}

& > .content-2 { // Adicionei o ponto para indicar que é uma classe
  
  display: grid;
  grid-template-columns:  1fr 1fr  1fr 3fr;
  


  .item-content-img3 {
    display: flex;
    justify-self: end;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.441);
    background-image: url("https://image.cdn2.seaart.me/2025-02-27/cuvv3ade878c73aj6ipg-1/2d7eea1d8493f4ed5dfaf77b1d148752_high.webp");
    background-size: cover;
    width: 240px;
    height: 240px; // Adicionei para garantir que a imagem preencha o espaço
    
    margin-inline-end: 10px;
  }

  .item-content-img4 {
    margin-inline-end: 10px;
    display: flex;
    justify-self: end;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.441);
    background-image: url("https://image.cdn2.seaart.me/2024-12-14/cten7ste878c73a4l24g/abf97b260b530250203645bbe196e07eda47a3b8_high.webp");
    background-size: cover;
    width: 240px;
    height: 240px; // Adicionei para garantir que a imagem preencha o espaço
  }

  .item-content-img5 {
    margin-inline-end: 10px;
    display: flex;
    justify-self: end;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.441);
    background-image: url("https://image.cdn2.seaart.me/temp-convert-webp/highwebp/2024-07-16/cqbc16de878c739edov0/935a584c11d8488437be56aa6c47a79ad846d6df_low.webp");
    background-size: cover;
    width: 240px;
    height: 240px; // Adicionei para garantir que a imagem preencha o espaço
  }


}
}
